* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}
.container {
   max-width: 1130px;
   width: 100%;
   margin: 0 auto;
}
.slick-dots {
   width: 90% !important;
   margin: 0 auto;
}
ul, ol {
   list-style-type: none;
}
a {
   text-decoration: none;
}
:root {
   --white: #FFFFFF;
   --main--font: "Maven Pro";
   --gray: #898989;
   --white--purple: #C746C9;
   --border--gray: #898989;
   --dark: #1A1D33;
   --blue: #2FBFBD;
   --poppins: "'Poppins'"
}
.custom__header__body__title {
   font-family: 'Noir Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 58px;
   line-height: 64px;
   color: var(--white);
}
.custom__header__body__text {
   margin-top: 17px;
   font-family: 'Noir Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--white);
}
.custom__header__body {
   margin-top: 75px;
   max-width: 370px;
   width: 100%;
}
@media(max-width: 1160px) {
   .container {
      padding: 0 20px;
   }
 }

 @media(max-width: 468px) {
   .custom__header__body__title {
      font-size: 32px;
      line-height: 38px;
   }
   .custom__header__body__text {
      font-size: 18px;
      line-height: 27px;
   }
   .custom__header__body {
      margin-top: 213px;
      margin-bottom: 40px;
   }
 
   .slick-slide {
      margin: 0;
      width: 100%;
   }
   .podcasts__slider {
      padding: 0;
   }
   .shows .slider {
      padding: 0 0
  }
 }

 .mini__hidden__menu {
   width: 450px;
   padding: 30px;
   position: fixed;
   height: 100vh;
   top: 0;
   left: -100%;
   background-color: #252038;
   z-index: 14;
   transition: 0.4s all;
 }
 .mini__hidden__menu i {
   position: absolute;
   top: 10px;
   right: 10px;
   color: red;
   font-size: 50px;
   cursor: pointer;
 }
 .mini__hidden__menu__active {
   left: 0;
 }
 .mini__hidden__menu a {
   font-family: 'Noir Pro';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   align-items: center;
   text-align: center;
   color: var(--white);
   font-size: 30px;
 }
 .mini__hidden__menu li {
   padding: 20px 0;
 }