* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* border: 1px solid red; */
}
.slick-dots {
   width: 90% !important;
   margin: 0 auto;
}
ul, ol {
   list-style-type: none;
}
a {
   text-decoration: none;
}

.custom__header__body__title {
   font-family: 'Noir Pro';
   font-style: normal;
   font-weight: 600;
   font-size: 58px;
   line-height: 64px;
   color: var(--white);
}
.custom__header__body__text {
   margin-top: 17px;
   font-family: 'Noir Pro';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: var(--white);
}
.custom__header__body {
   margin-top: 75px;
   max-width: 370px;
   width: 100%;
}
@media(max-width: 1160px) {
   .container {
      padding: 0 20px;
   }
 }

 @media(max-width: 468px) {
   .custom__header__body__title {
      font-size: 32px;
      line-height: 38px;
   }
   .custom__header__body__text {
      font-size: 18px;
      line-height: 27px;
   }
   .custom__header__body {
      margin-top: 213px;
      margin-bottom: 40px;
   }
 
   .slick-slide {
      margin: 0;
      width: 100%;
   }
   .podcasts__slider {
      padding: 0;
   }
   .shows .slider {
      padding: 0 0
  }
 }
:root {
   --white: #FFFFFF;
   --main--font: "Maven Pro";
   --gray: #898989;
   --white--purple: #C746C9;
   --border--gray: #898989;
   --dark: #1A1D33;
   --blue: #2FBFBD;
   --poppins: "'Poppins'"
}