@media(max-width: 1290px) {
   .latest__wrapper {
      flex-direction: column;
      row-gap: 45px;
      /* width: max-content; */
      /* margin: 0 auto; */
   }
   .latest__episodes {
      order: 2
   }
   .latest__tredning {
      order: 1
   }
   .latest__tredning {
      width: 100% !important;
   }
   .latest__tredning__boxes {
      margin-bottom: 30px;
      grid-template-columns: repeat(4, 1fr) !important;
   }
   .latest__episodes__box {
      align-items: flex-start !important;
      display: flex;
      row-gap: 20px;
      flex-direction: column;
   }
   .latest__episodes__boxes {
      display: flex;
      column-gap: 30px
   }
}
@media(max-width: 1280px) {
   .discover__wrapper {
      width: 100%;
      overflow-x: hidden;
   }
   .categories__wrapper {
      flex-direction: column;
      width: 100%;
      row-gap: 30px;
      width: max-content;
      margin: 0 auto;
      margin-bottom: 400px;
   }
   .categories__titles {
      width: max-content;
      margin-bottom: 30px;
   }
   .categories__right__left {
      width: 270px;
 
   }
   .categories__right__left img {
      width: 100%;

      object-fit: fill;
   }
   .categories__right__right {
      width: 370px;
      row-gap: 45px;
      justify-content: stretch;
   }
   .categories__right__right img {
      width: 100%;
   }
   .meet__slider {
      width: 100%;
     
   }
   .meet__slider>div {
      width: 100%;
   }
}
@media(max-width: 1250px) {
   .audience__wrapper {
      display: flex !important;
      flex-direction: column;
      row-gap: 30px;
   }
   .audience__gender, .audience__age {
      width: max-content
   }
}
@media(max-width: 1230px) {
   .audience__bottom {
      height: max-content !important;
      column-gap: 10px !important
   }
}
@media(max-width: 1134px) {
   .audience__bottom {
      display: flex !important;
      flex-direction: column;
   }
   .audience__bottom>div {
      padding: 30px !important;
   }
}
@media(max-width: 1200px) {
   .playlist__wrapper {
      flex-direction: column;
      row-gap: 40px;
   }
   .navbar__body__wrapper {
      width: 100%;
      overflow: hidden;
     
   }
   .podcasts .container {
      overflow: hidden;
   }
}
@media(max-width: 1110px) {
   .show__top__desc {
      padding-left: 15px;
   } 
   .footer {
      padding-top: 60px !important;
      margin-top: 147px !important;
   }
   .footer__wrapper {
      row-gap: 60px;
      flex-direction: column;
   }
   .download {
      padding-top: 70px !important;
   }
   .download__wrapper {
      flex-direction: column;
      row-gap: 40px;
   }
   .alert {
      margin-top: 170px;
   }
   .alert__wrapper {
      flex-direction: column;
      width: max-content;
      row-gap: 45px;
      margin: 0 auto;
   }
   .alert__desc {
      order: 1
   }
   .alert__map {
      order: 2
   }
   .nw__wrapper {
      flex-direction: column;
      width: max-content;
      row-gap: 50px ;
      margin: 0 auto;
   }
   .nw__news {
      width: max-content;
      margin: 0 auto;
   }
}
@media(max-width: 1050px) {
   .read__news__main__box {
      width: 80% !important;
   }
   .read__news__main__box__desc {
      font-size: 11px !important;
      line-height: 20px !important
   }
   .read__wrapper {
      width: 100%;
   }
   .read__news__main {
      display: none;
   }
   .read__news {
      width: 100% !important;
   }
   .read__news__body {
      width: 100% !important;
   }
   .read__news__slider {
      width: 100% !important;
   }
   .read__most {
      padding-left: 0 !important;
   }
   .read__most {
      padding-left: 20px;
   }
   .read__wrapper {
      flex-direction: column;
      row-gap: 20px;
   }
   .read__most__boxes {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(261px, 1fr));
   }
}
@media(max-width: 992px) {
   .show__top {
      flex-direction: column !important;
      row-gap: 25px;
   }
   .show__top__desc {
      padding: 5;
   } 
   .menu__mini, .news__load {
      display: block !important;
     
   }
   .menu__mini .slick-list {
      padding-left: 70px;
   }
   .header__menu {
      display: none;
   }
   .navbar__body__wrapper {
      flex-direction: column;
      width: max-content;
      margin: 0 auto;
      row-gap: 20px;
   }
   .navbar__body__desc {
      order: 2;
      margin: 0;
      padding: 0;
      width: 100% !important;
   }
  
   .navbar__body__img {
      order: 1;
      margin-left: -200px;
   }
   .navbar__hamburger {
      display: block !important;
      width: 32.29px !important;
      height: 23.96px !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
      cursor: pointer !important;
   }
   .navbar__hamburger span {
      width: 100%;
      height: 2px;
      display: block;
      background: var(--white) ;
   }
   .header {
      height: max-content !important;
   }
   .header__top__icons__langs {
      display: none !important;
   }
   .header__top__icons__search {
      width: 28px !important;
      height: 28px !important;
   }
   .navbar {
      display: none;
   }
  
}
@media(max-width: 870px) {
   .read__most__box {
      margin-top: 30px !important;
   }
   .latest__tredning__boxes {
      gap: 20px !important;
   }

}
@media(max-width: 830px) {
   .latest__episodes__box {
      flex-direction: row
   }
   .latest__tredning__boxes {
      gap: 10px !important;
   }
   .footer__menu__top {
      row-gap: 30px;
      grid-template-columns: repeat(3, 1fr) !important;
   }
   .alert .container {
      padding: 0;
   }
   .alert__wrapper {
      width: 100%;
   }
   .alert__map {
      width: 100% !important;
   }
   .alert__map img {
      width: 100%;
      object-fit: contain;
   }
   .latest__episodes__boxes {
      flex-direction: column;
   }
}
@media(max-width: 790px) {
  
   .latest__tredning__boxes {
     grid-template-columns: repeat(3, 1fr) !important;
     column-gap: 30px !important;

   }
   .latest__wrapper {
      /* width: 90%;
      margin: 0 auto; */
   }
}
@media(max-width: 750px) {
   .nw__wrapper, .alert__wrapper {
      height: max-content !important;
   }
   .audience__wrapper>div {
      margin: 0 auto;
   }
   .audience__bottom {
      margin: 0 auto;
   }
   .audience__age__wrapper {
      row-gap: 80px;
      flex-direction: column ;
   }
   .audience__age__genders {
      width: max-content;
      margin: 0 auto;
   }
   .audience__subtitle {
      text-align: center;
   }
}
@media(max-width: 717px) {
   .latest__wrapper {
      width: 100%;
   }
   .latest__episodes__box__image {
      height: 218px;
   }
   .latest__episodes__box__image img {
      height: 100%;
   }
   .latest__episodes__box__body {
      width: 10%;
   }
 
    .latest__wrapper {
      /* width: 70%;
      margin: 0 auto; */
   }
   .categories {
      padding-top: 30px !important;
      padding-bottom: 10px !important
   }
   .podcasts {
      padding-bottom: 30px !important;
   }
   .nw__weather {
      margin-top: 20px !important;
   }
   .nw {
      padding-top: 40px !important;
      padding-bottom: 30px !important;
   }
   .meet {
      padding-bottom: 30px !important;
   }
   .playlist__table {
      display: none;
   }
   .playlist__wrapper {
      row-gap: 0;
   }
 
   .listen {
      margin-top: 120px;
   }
   .categories__wrapper {
      width: 100%;
   }
   .categories__left {
      flex-direction: column;
   }
   .categories__left__right>div {
      display: none;
   }
   .categories__right {
      display: none !important;
   }
   .weather__cat {
      margin-top: 30px;
   }
   .cars__cat, .weather__cat {
      height: 200px;
      border-radius: 10px;
      overflow: hidden;
      width: 100% !important;
      display: block !important;
   }
   .cars__cat img, .weather__cat img {
      height: 100%;
      width: 100%
       !important;
      object-fit: cover !important;
   }
   .categories__right {
      display: none;
      cursor: pointer;
   }  
   .categories__load a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .categories__load {
      margin-top: -250px !important;
      border: 1px solid !important;
      height: 50px !important;
      border-image: linear-gradient(84.7deg, #C21FC4 1.27%, #2FBFBD 99.24%) 1 !important;
      display: block !important;
      width: 100% !important;
      background: linear-gradient(84.7deg, #C21FC4 1.27%, #2FBFBD 99.24%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
   }
}
@media(max-width: 660px) {
   .latest__tredning__boxes {
      grid-template-columns: repeat(2, 1fr) !important;
      column-gap: 30px !important;
 
    }
    
    .signup__input  {
      width: 100% !important;
    }
    .signup__input input {
      width: 100%  !important;
      border-radius: 5px !important;
    }
    .signup__input form button {
      width: 100% !important;
      border-radius: 5px !important;
      padding: 0;
    }
   .nw .container {
      width: 100% !important;
      padding: 0 !important;
   }
   .menu__mini .slick-list {
      padding: 0 !important;
      text-align: center !important;
   }
   .playlist {
      padding-bottom: 85px !important;
   }
}
@media(max-width: 630px) {
   .nw__wrapper {
      padding-left: 70px;;
   }
   .menu__mini .slick-list a {
      margin-left: -20px;
   }


   .nw__weather__title {
      margin-left: 30px;
      font-size: 24px;
      line-height: 28px;
   }
   .nw__wrapper>div {
      width: 100%;
   }
   .nw__wrapper {
      width: 100%;
   }
   .nw .container {
      padding: 0;
   }
   .nw__weather {
      width: 100%;
   }
   .nw__weather>div {
      width: 100%;
   }
   .nw__weather>div>img {
      width: 100%;
   }
   .slick-dots li button:before {
      margin-top: 20px !important;
    }
}
@media(max-width: 690px) {
   .shows {
      padding-bottom: 30px !important;
      padding-top: 90px !important;
   }

   .header {
      padding-bottom: 88px !important;
   }
   .navbar__body__desc {
      width: 80%;
   }
   .navbar__body__img {
      width: 500px;
      margin: 0;
   }
   .navbar__body__img img {
      width: 100%;
      object-fit: fill;
   }
}
@media(max-width: 600px) {
   .show__top__image {
      width: 100%;
 
   }
   .latest__wrapper {
      width: 100% !important;
   }
   .latest__episodes__box__body {
      width: 100% !important;
   }
   .latest__wrapper {
      width: max-content;
      margin: 0 auto;
   }
   
   .show__top__image img {
      width: 100%;
   
      object-fit: fill;
   }
   .navbar__body__wrapper {
      width: 100%;
   }
   .navbar__body__title, .navbar__body__title span {
      font-size: 32px !important;
      line-height: 38px;
      font-weight: normal !important
      ;
   }
   .navbar__body__img {
      width: 70%;
   }
   
   .navbar__body__subtitle {
      width: 50% !important;
   }
   .navbar__body__desc div {
      width: 100% !important;
   }
   .navbar__body__desc div:last-child {
      width: max-content !important;
   }
}
@media(max-width: 570px) {
   .nw__wrapper {
      width: 100% !important;
      padding-left: 30px;
   }
   .audience__work__bar, .audience__listen__bar {
      column-gap: 0 !important;
      flex-direction: column;
      row-gap: 10px;
   }
   .footer__menu__top {
      grid-template-columns: repeat(2, 1fr) !important;
      column-gap: 0 !important;
   }
   .audience__listen__bar__bar, .audience__work__bar__bar   {
      width: 120px !important;
   }
   .audience__listen {
      padding: 0 !important;
   }
   .audience__bottom {
      width: 100%;
      flex-direction: row;
      column-gap: 0 ;
   }
   .audience__bottom>div {
      padding-right: 0 !important;
   }
   .audience__bottom .audience__subtitle {
      font-size: 14px;
   }
   .audience__work {
      padding-right: 20px !important;
   }
}
@media(max-width: 540px) {
   .latest__episodes__box {
      flex-direction: column;
   }
 
   
}
@media(max-width: 500px) {
   .show {
      padding-top: 90px;
   }
   .nw__wrapper {
      padding-left: 0;
   }
   .audience__age__percents {
      column-gap: 0px !important;
   }
}
@media(max-width: 480px) {
   .featured__box__bottom {
      width: 100%;
      flex-direction: column;
      row-gap: 20px;
   }
   .featured__box__bottom a {
      width: 100%;
      border-radius: 5px
   }
   .live__title {
      font-size: 24px !important;
      line-height: 28px !important;
   }
   .show__top__desc__title {
      font-size: 24px !important;
      line-height: 28px !important;
   }
   .live__text {
      font-size: 18px;
      line-height: 27px;
   }
   .live__button {
      width: 100% !important;
   }
   .show__top__desc__btns {
      margin-top: 49px;
      flex-direction: column;
      row-gap: 20px;
   }
   .show__top__desc__btns button {
      width: 100% !important;
   }
   .meet__slider__box__name {
      font-style: 24px;
      line-height: 28px;
      width: max-content;
   }
   .audience__title {
      font-size: 20px !important;
      text-align: center !important;
   }
   .audience__gender__wrapper {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
   }
   .podcasts {
      padding-bottom: 30px !important;
   }
   .categories {
      padding-top: 30px;
   }
   .podcasts__slider {
      padding: 0 !important;
   }
   .nw__wrapper {
      height: max-content !important;
   }
   .download__wrapper {
      width: 100% !important;
   }
   .download__desc {
      width: 100%;
      padding: 0 20px;
   }
   .download {
      margin-top: 70px;
      padding: 0 !important;
   }
   .nw__news__box__row {
      width: 70% !important;
   }
   .download__desc {
      width: 100% !important;
   }
   .download__desc__footer {
      width: 100%;
      column-gap: 0;
      justify-content: space-between;
   }
   .download__desc__footer a {
      width: 50%;
      height: 60px;
   }
   .download__desc__footer a img {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }
   .meet__subtitle {
      width: 100% !important;
   }
   .alert {
      margin-top: 10px;
   }
   .nw__news__title {
      margin-left: 30px;
   }
   .nw__wrapper {
     width: 100%;
     height: max-content;
     overflow: hidden;
   }
   .nw__news__box__row {
      font-size: 18px;
      line-height: 24px;
      width: 60%;
      margin-left: 30px;
      border-radius: 5px;
  
   }
   .nw__news__box__row__desc {
      width: 100%;
   }
   .nw__news__box__row__date {
      font-size: 16px;
      line-height: 24px;
   }
   .nw__news__box {
      height: 250px;
      padding: 0 10px;
 
 
      overflow: hidden;
   }

   .nw__news__box img {
      height: 100%;
      width: 100% !important;
      object-fit: fill !important;
   }
   .nw__news__box:last-child {
      display: none;
   }
   .nw__weather {
      width: 100%;
   }
   .nw__weather img {
      width: 100%;
   }
   .footer {
      margin-top: 57px !important;
   }

}
@media(max-width: 460px) {
   .trending__load {
      width: 100% !important
   }
   .latest__episodes__subtitle {
      width: 100% !important;
   }
   .latest__tredning__boxes {
      grid-template-columns: repeat(1, 1fr) !important;
      
   }
   .latest__tredning__box {
      width: 100%;
      height: auto !important;
   }
   .latest__tredning__box img {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }
   .latest__tredning {
      width: 100% !important;
   }
   .discover {
      padding: 90px 0;
   }
   .popular__body {
      padding: 0 20px;
   }
   .popular .container {
      padding: 0 !important;
   }
   .aboutUs__header, .shows__header, .podcast__header, .news__header {
      padding-bottom: 40px !important;
      height: max-content !important;
   }
   .broadcost__subtitle {
      width: 95% !important;
      margin: 0 auto;
   }
   .download__desc__body {
      font-size: 18px !important;
      line-height: 27px !important;
   }
   .audience__bottom {
      flex-direction: column;
      padding: 0 15px 0  0px !important;
   }
   .audience__bottom .audience__subtitle {
      margin-left: -20px;
   }
   .download__desc__title {
      font-size: 24px !important;
      line-height: 28px !important;
   }
   .audience__listen__bar__bar, .audience__work__bar__bar {
      width: 200px !important;
   }
   .nw__weather__top {
      left: 37px;
   }
   .nw__weather>div>img{
      height: 374px !important;
   }
   .meet__subtitle {
      width: 100%;
   }
   .playlist__image {
      height: 234.61px;
      width: 95%
   }
   .playlist__image img {
      width: 100%;
      height: 100%;
   }
   .listen {
      margin-top: 60px;
   }
   .listen__title {
      font-size: 24px;
      line-height: 28px;   
   }
   .listen__subtitle {
      font-size: 18px;
      line-height: 27px;         
   }
   .listen__footer {
      flex-direction: column;
   }
   .listen__footer button, .listen__footer a {
      width: 100% !important;
   }
   .listen__footer a {
      margin-top: 10px;
   }
   .listen__wrapper {
      width: 100%;
   }
   .listen__wrapper>div {
      width: 100%;
   }
   .categories__titles {
      width: 100% !important;
   }
   .categories__subtitle {
      width: 100%;
   }
   .navbar__body__wrapper {
      width: 100%;
   }
   .navbar__body__img {
      width: 90%;
   }
   .alert__desc {
      width: 100% !important;
   }
   .alert__wrapper {
      width: 100% !important;
   }
   .footer {
      margin-top: 85px !important;
   }
}

@media(max-width: 410px) {
   .latest__wrapper {
      width: 100%;
   }
   .latest__episodes__box__body {
      width: 100% !important;
   }
   .shows__subtitle, .playlist__subtitle, .categories__subtitle, .playlist__subtitle {
      width: 100% !important;
   }
   .playlist__image {
      width: 100% !important;
   }
   .playlist__image img {
      width: 100%;
      object-fit: contain;
   }
   /* .download__image {
      width: 70%;
   }
   .download__image img {
      width: 100%;
      object-fit: fill !important;
   } */
   .footer__logo {
      margin-left: -25px !important;
   }
   .footer__menus__bottom__menu ul {
      width: 300px !important;
      column-gap: 45px !important;
   }
   .footer__menus__bottom__menu ul li {
      width: 32px;
      height: 32px;
   }
   .footer__menus__bottom__menu ul li img {
      width: 100%;
      height: 100%;
      object-fit: fill;
   }
   .alert__desc {
      padding: 0 20px;
   }
}

@media(max-width: 390px) {

   .download__image {
      z-index: -1;
   }
}




/* aboutUs */
@media(max-width: 1260px) {  
   .whois__wrapper {
      flex-direction: column;
      row-gap: 40px;
      height: max-content;
   }
   .whois__desc__body {
      width: 100% !important; 
   }
   .whois__desc {
      width: 90% !important;
      order: 1
   }
   .whois__img {
 
      width: 100%;
      height: 700px !important;
      margin: 0 auto;
      order: 2
   }
   .whois__img>img {
      height: 500px;
      width: 100%;
      object-fit: contain;
   }
}
@media(max-width: 630px) { 
  
   .whois__img {
      margin-top: -60px;
   }
}

@media(max-width: 630px) { 
   .broadcost {
      padding-top: 0 !important;
      padding-bottom: 30px !important;
   }
   .broadcost__map {
      height: max-content;
   }
   .broadcost__map img {
      height: 100%;
   }
   .whois__img {
      margin-top: -80px;
   }
   .broadcost__title {
      font-size: 20px !important;
   }
   .broadcost__subtitle {

      font-size: 16px !important;
   }
}

@media(max-width: 400px) { 
   .broadcost__subtitle {
      width: 100% !important;
   }
   .broadcost {
      margin-top: -20px;
   }
}

@media(max-width: 360px) { 
   .read__most__box::before {
      font-size: 120px !important;
   }
   .read__most__boxes {
      grid-template-columns: repeat(1, 1fr) !important;
   }
   .read__most__boxes {
      padding-left: 20px;
   }
   .nw__weather__top {
      left: 35px !important;
   }
   .playlist__image img {
      object-fit: contain !important;
   }
   .our__djs__subtitle {
      width: 95% !important;
      margin: 0 auto;
   }
   .audience__age {
      padding: 20px !important;
   }
   .audience__gender {
      padding: 40px !important;
   }
   .broadcost {
      margin-top: -70px;
   }
   .broadcost__subtitle {
      font-size: 12px !important;
      line-height: 20px !important;
   }

   .footer__menus__bottom__menu>ul {
      column-gap: 20px !important;
   }
   .footer {
      overflow-x: hidden;
   }
}

